@import url(reset.css);
* {
    box-sizing: border-box;
    font-family: 'Schoolbell', cursive;
}

body {
    font-family: 'Schoolbell', cursive;
    font-size: 1em;
    background-color: rgb(212, 222, 243);
}

#wrapper {
    max-width: 45em;
    margin: 0 auto;
}

header .filter .buscador {
    color: white;
    margin-bottom: 10px 10px;
}

header .insert {
    background-color: rgb(14, 13, 13);
    border-top: 2px solid black;
    padding: 20px;
}

header .insert .anadir {
    color: white;
    margin-bottom: 20px;
}

header .filter {
    background-color: black;
    padding: 10px;
}

main .tareas article {
    height: 60px;
    position: relative;
    border-bottom: 2px solid black;
    padding: 20px 0px 20px 20px;
}

main .tareas h2 {
    margin: 0;
}

main .tareas .urgente {
    background-color: rgb(230, 186, 66);
}

main .tareas .diaria {
    background-color: rgb(143, 179, 221);
}

main .tareas .mensual {
    background-color: rgb(214, 124, 174);
}

main .tareas article>a {
    background-color: rgb(228, 76, 49);
    display: inline-block;
    padding: 18px;
    color: white;
    text-decoration: none;
    width: 130px;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: 1s;
}

main .tareas article>a:hover {
    width: 125px;
}

footer {
    padding: 10px;
    background-color: black;
    color: white;
}

#mensaje {
    background-color: red;
    text-align: center;
    color: white;
}

#notareas article {
    padding: 20px;
}